# More Basic Python - lists, dicts  etc

in Python3. If you are not familiar 
with lists then watch this video:

https://www.youtube.com/watch?v=CsVjisxAIPc

In this notebook we review the basic constructions 

- data types
- conditionals
- function declarations
- loops
- loops, lists and slices





---

# Data types

| | | |
|---|---|---|
|Text  Types | str|
|Numeric Types: | int, float, complex |
|Sequence Types:| list, tuple, range
|Mapping Type: |dict
|Set Types: | set, frozenset |
|Boolean Type: |bool |
|Binary Types: |bytes, bytearray, memoryview |

---

Technically everything in Python is an **object** that is a collection of

- data
- methods

Even integers are objects.
We use ```dir()``` to get a list of what is associated to an object.
When we do this it is called **introspection**.

## Example

The integer 0

In [4]:
print(' '.join(dir(0)))

__abs__ __add__ __and__ __bool__ __ceil__ __class__ __delattr__ __dir__ __divmod__ __doc__ __eq__ __float__ __floor__ __floordiv__ __format__ __ge__ __getattribute__ __getnewargs__ __gt__ __hash__ __index__ __init__ __init_subclass__ __int__ __invert__ __le__ __lshift__ __lt__ __mod__ __mul__ __ne__ __neg__ __new__ __or__ __pos__ __pow__ __radd__ __rand__ __rdivmod__ __reduce__ __reduce_ex__ __repr__ __rfloordiv__ __rlshift__ __rmod__ __rmul__ __ror__ __round__ __rpow__ __rrshift__ __rshift__ __rsub__ __rtruediv__ __rxor__ __setattr__ __sizeof__ __str__ __sub__ __subclasshook__ __truediv__ __trunc__ __xor__ bit_length conjugate denominator from_bytes imag numerator real to_bytes

## Numeric types

- 0 is an integer
- 0. is a float
- 0J is a complex number

We'll use a simple ```for``` loop to see this

In [8]:
for x in [0, 0., 0J]:
    print(type(x), x)

<class 'int'> 0
<class 'float'> 0.0
<class 'complex'> 0j

## Arithmetic 

These are the basic operations

- +, - 
- *, / multiply, divide
- ** power
- //, % integer division and remainder modulo an integer

More complicated operations can be obtained
by importing from ```math``` 
- this is a module object that contains the usual functions
- we can use introspection to see what it contains

In [13]:
1J**2, (1J + 1)**.5

((-1+0j), (1.0986841134678098+0.45508986056222733j))

In [16]:
import math
print(' '.join(dir(math)))

__doc__ __file__ __loader__ __name__ __package__ __spec__ acos acosh asin asinh atan atan2 atanh ceil copysign cos cosh degrees e erf erfc exp expm1 fabs factorial floor fmod frexp fsum gamma gcd hypot inf isclose isfinite isinf isnan ldexp lgamma log log10 log1p log2 modf nan pi pow radians sin sinh sqrt tan tanh tau trunc

In [18]:
from math import *
print(pi, cos(pi), sin(pi), exp(pi))

3.141592653589793 -1.0 1.2246467991473532e-16 23.140692632779267

## Important

I don't use ```math``` very much 
as I prefer ```numpy``` which has everything in ```math```
but also has an ```array``` type which behaves like a vector
or more generally a matrix.

---

## Text type

This is very useful as most data is stored in text files.

- there are 3 ways of creating a text object
- we can join 2 text objects with +

In [21]:
'hello' + " 'world'" + ''' let me 
explain'''

"hello 'world' let me \nexplain"

In [22]:
print('hello' + " 'world'" + ''' let me 
explain''')

hello 'world' let me
explain

## The 3 different ways

so we can use 
- 'text'
- "text"
- ''' text '''

The last one is useful for typing text with more than one line
otherwise we have to use a **special character** ```\n```.

In [23]:
ss = '''hello
there
how 
are u ?'''
print(ss)

hello
there
how
are u ?

---

## Boolean types

- True
- False

## Operators

- == equality
- != inequality
- ```or, and, not```

are the basic operators  but also 

- is
- in

and comparison operators which return boolean values

- \>, <
- etc.

In [25]:
1 == 2, type(1 == 2)

(False, bool)

In [29]:
1 < 2 and 2 < 3, 1 < 2  < 3, 1 < 2 or 2 < 1

(True, True, True)

In [28]:
1 in [2,3, 4]

False

```is``` tests if two variables reference the same object.
This is **quite** subtle and we won't use it often.

In [37]:
a = b = ['banana']
c = ['banana']

In [38]:
a is b , a is c

(True, False)

## Conditional statements

We'll do loops next but this is useful to know first

- ```if : elif: else:```
            
## Example

change the value of x to see what happens.

In [40]:
x = 7

if 1 < x < 3:
    print('low')
elif 3 < x < 6:
    print('mid')
else:
    print('high')

high

---

## Functions

In Python a function is declared like this

``` 
def f(args): 
    code
    return result
```

---

There are 2 types of argument

- positional
- named

``` 
def f(x,y r=5): 
    code
    return result
```

- ```x,y``` are positional 
- ```r``` is named with a default value of 5

If an argument has a default value I don't have to 
write it when I call the function (see examples)

Try some [simple exercises](https://pynative.com/python-functions-exercise-with-solutions/)
       
### Example

In [60]:
def bin_it(x):
    if 1 < x < 3:
        return 'low'
    elif 3 < x < 6:
        return 'mid'
    else:
        return 'high'

In [62]:
bin_it(5), bin_it(2)

('mid', 'low')

In [79]:
def f(x,y,r=5):
    return (x+y)*r

In [81]:
f(1,2), f(1,2,r=3)

(15, 9)

---

## Loops

- ```for x in :```
- ```while x :```

```for``` is used with ```continue, break```

Try some [simple exercises](https://pynative.com/python-if-else-and-for-loop-exercise-with-solutions/)
    
### Examples

In [43]:
for x in range(5): 
    print(x)

0
1
2
3
4

In [45]:
for x in range(10):
    if x % 2 == 0: # skip even numbers
        continue 
    print(x)

1
3
5
7
9

In [46]:
for x in range(10):
    if x*x > 32: # abort loop
        break
    print(x)

0
1
2
3
4
5

the same example but with a ```while```
- I don't use ```while``` as it is easy to write infinite loops

In [47]:
x = 0
while  x*x < 32: # abort loop
    print(x)
    x += 1

0
1
2
3
4
5

---

## Lists and loops

- creation ```[]```
- ```append```
- concatenation ```+``` or better ```extend```
- accessing an element
- looping over a ```list```
- creation using [list comprehensions](https://www.programiz.com/python-programming/list-comprehension)


Try some [simple exercises](https://pynative.com/python-list-exercise-with-solutions/)

---

In other languages (C, Java, Julia ) one would do loops like this
but **as a rule** we don't do this in Python as it is **inefficient**.

There are some exceptions to this e.g. when using 
some of the newer tools to accelerate numerical calculations

- [numbas](http://numba.pydata.org/)
- [cython](https://cython.org/)
- [pythran](https://pypi.org/project/pythran/)


I might show you how to use **numbas** later as it's pretty easy.

In [54]:
A = []
for x in range(5):
    A.append(x**2)
A

[0, 1, 4, 9, 16]

this next command doesn't modify A

In [55]:
A + A

[0, 1, 4, 9, 16, 0, 1, 4, 9, 16]

but this appends a copy of A to A so **does** modify A

In [56]:
A.extend(A)
A

[0, 1, 4, 9, 16, 0, 1, 4, 9, 16]

## Accessing an element by index

If $A$ is a list then 

- ```len(A)``` is the length of the list
- each element of $A$ has an index 
- the first element is index 0
- the last element is index ```len(A) - 1```
- by convention the last element has index -1

In [66]:
len(A)

10

In [65]:
A[0], A[len(A)-1], A[-1]

(0, 16, 16)

### Looping over a list

We will do this quite often

In [58]:
for x in A:
    if x % 2 == 1:
        print(x)

1
9
1
9

and we will also do this a lot:

```enumerate``` gives a list of pairs (i,x) where
- x is an element
- i is its index

In [67]:
for i, x in enumerate(A):
    if x % 2 == 1:
        print(i, x)

1 1
3 9
6 1
8 9

## List comprehensions

This is more efficient than ```append```

- ```[ f(x) for x in A if condition]```

https://docs.python.org/3/tutorial/datastructures.html

You should think of this as 
- taking the image by the function $f$ of 
- a  subset $B \subset A$  defined by the condition


### Examples

In [59]:
[x**2 for x in range(5)]

[0, 1, 4, 9, 16]

In [80]:
[x**2 for x in L if x % 2 == 1]

[1, 9]

---

## List slices

This is a very important notation:<br> 
if you think of the list as a sequence
then we can extract a subsequence

https://stackoverflow.com/questions/509211/understanding-slice-notation


### Examples

In [68]:
L = list(range(6))
L

[0, 1, 2, 3, 4, 5]

- everything except the first element
- everything except the last element
- everything except the first and the last element

In [106]:
L[1:], L[:-1], L[1:-1]

([1, 2, 3, 4, 5], [0, 1, 2, 3, 4], [1, 2, 3, 4], [0, 2, 4])

- the elements with even index
- the elements with odd index

In [69]:
L[::2], L[1::2],

([0, 2, 4], [1, 3, 5])

In [109]:
list(zip(*_))

[(0, 1, 2, 3, 4), (1, 2, 3, 4, 5)]

# Dictionnaries

Dictionaries are like lists where the index is **almost** anything you like, for example a string

We often use them to store structured data that comes from tables.

In [72]:
dd = {c : k for k,c in enumerate('greg mcshane')}

dd

{'g': 3,
 'r': 1,
 'e': 11,
 ' ': 4,
 'm': 5,
 'c': 6,
 's': 7,
 'h': 8,
 'a': 9,
 'n': 10}

In [74]:
dd['g'], dd['m']

(3, 5)

## Displaying structured data in a table.

This is easy with [pandas](https://pandas.pydata.org/pandas-docs/stable/index.html).

We'll make a table of $x$ and $x^2$.

In [75]:
L = [ x for x in range(10)]
LL = [x**2 for x in range(10)]

In [76]:
table = {'x' : L, 'x^2' : LL}
table

{'x': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 'x^2': [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]}

In [77]:
import pandas as pd

In [78]:
df = pd.DataFrame(table)
df

   x  x^2
0  0    0
1  1    1
2  2    4
3  3    9
4  4   16
5  5   25
6  6   36
7  7   49
8  8   64
9  9   81

## If you manage to understand all this then you are ready for the other Notebook

In [2]:
! ../.g

[master b3cafc4] web
 1 file changed, 18 insertions(+), 6 deletions(-)
Counting objects: 4, done.
Delta compression using up to 12 threads.
Compressing objects: 100% (4/4), done.
Writing objects: 100% (4/4), 719 bytes | 719.00 KiB/s, done.
Total 4 (delta 3), reused 0 (delta 0)
remote: Resolving deltas: 100% (3/3), completed with 3 local objects.
To https://github.com/macbuse/macbuse.github.io.git
   587443a..b3cafc4  master -> master