In [ ]:
aa = {}

for i= 1,10 do
    aa[i] = 3*i
end

## pseudo len()

In [ ]:
#aa

## standard functions

In [2]:
function fac(n)
   if (n == 0) then
        return 1
    else
        return n * fac(n-1)
    end
end

In [282]:
fac(6)

720

In [276]:
function n2b(n,b) 
    local tt = {}
    local i = 1
    while n > 0 do
        tt[i] = n % b
        n = (n - n % b) / b 
        i = i + 1
    end
    return tt
end

In [281]:
n2b(15, 2)

{ 1, 1.0, 1.0, 1.0 }

this was funny had to use b == 0. and not just 0

it's not good not having an integer type :(

In [173]:
function gcd(a,b)
    if b == 0. then
        return a
    else
        return gcd(b, a % b)
    end
end

In [181]:
ss = {{0,1}, {1,1}}

In [186]:
for i= 1, #ss, 1 do
    print(ss[i])
end

table: 0x55d926ed66d0
table: 0x55d926ed6710

---

here's another pattern

In [187]:
for k,v  in next, ss do
    print(k,v)
end

1	table: 0x55d926ed66d0
2	table: 0x55d926ed6710

---

# Farey addition

it's dumb that a table doesn't have it's own insert method

In [337]:
ss = {{0,1}, {1,1}}

In [315]:
tmp = {ss[1]}

In [344]:
for i= 1, #ss - 1, 1 do
    x = ss[i][1] +  ss[i+1][1]
    y = ss[i][2] +  ss[i+1][2]
    table.insert(tmp, {x,y} )
    table.insert(tmp, ss[i+1] )

end

ss = tmp
tmp = {ss[1]}

In [345]:
ss

{ { 0, 1 }, { 1, 5 }, { 1, 4 }, { 2, 7 }, { 1, 3 }, { 3, 8 }, { 2, 5 }, { 3, 7 }, { 1, 2 }, { 4, 7 }, { 3, 5 }, { 5, 8 }, { 2, 3 }, { 5, 7 }, { 3, 4 }, { 4, 5 }, { 1, 1 } }

In [334]:
for i= 1, #ss - 1, 1 do
    x = ss[i][1] +  ss[i+1][1]
    y = ss[i][2] +  ss[i+1][2]
    local nn = #tmp + 1
    tmp[nn] = {x,y} 
    tmp[nn+1] =  ss[i+1] 

end

ss = tmp
tmp = {ss[1]}

----

## more thought

but maybe better 
avoid calls to #

In [342]:
for i = 1, #ss - 1, 1 do
    x = ss[i][1] +  ss[i+1][1]
    y = ss[i][2] +  ss[i+1][2]
    tmp[2*i] = {x,y} 
    tmp[2*i+1] =  ss[i+1] 

end

ss = tmp
tmp = {ss[1]}

In [343]:
ss

{ { 0, 1 }, { 1, 4 }, { 1, 3 }, { 2, 5 }, { 1, 2 }, { 3, 5 }, { 2, 3 }, { 3, 4 }, { 1, 1 } }

---
# kind of cute

but if you know how objects really work in **Python** then it's a piece of cake

In [346]:
fib = {1,1}

function fib.add()
    local n = #fib
    fib[n+1] = fib[n] + fib[n-1]
end

In [351]:
fib:add()

In [352]:
fib

{ 1, 1, 2, 3, 5,add = <function 1>}

---

# sorting and stuff

In [58]:
for i=1,10 do a[i] = i end

In [59]:
a[1] = {1,2}

In [41]:
a[3] = {1,2,3}

In [44]:
a[2] = {5,6,7}

In [45]:
a

{ 1, { 5, 6, 7 }, { 1, 2, 3 }, 4, 5, 6, 7, 8, 9, 10,[0] = { 1, 2 }}

In [60]:
for i, v in ipairs(a) do print(i, v) end

1	table: 0x55d926f7cc00
2	2
3	3
4	4
5	5
6	6
7	7
8	8
9	9
10	10

In [61]:
for i, v in ipairs(a) do 
    if  i % 2 ==0 then
        print(i, v) 
        end
end

2	2
4	4
6	6
8	8
10	10

In [62]:
local found = nil
for i=1,a.n do
  if a[i] == value then
    found = i      -- save value of `i'
    break
  end
end
print(found)

n/a: (ilua):2: 'for' limit must be a number

In [76]:
"x" .. "tttt"

"xtttt"

In [82]:
string.sub("xjyl",2,4)

"jyl"

In [79]:
require "string"

{byte = <function 1>,char = <function 2>,dump = <function 3>,find = <function 4>,format = <function 5>,gmatch = <function 6>,gsub = <function 7>,len = <function 8>,lower = <function 9>,match = <function 10>,pack = <function 11>,packsize = <function 12>,rep = <function 13>,reverse = <function 14>,sub = <function 15>,unpack = <function 16>,upper = <function 17>}

---
# blocks and scope

In [85]:
do 
    local x = 5
    x = x*x
end
print(x)

nil

In [355]:
aa = {}
for i = 1,10 do
    aa[i] = math.cos(i)
end

In [356]:
sum = 0
for i = 1, 10 do
    sum = sum + aa[i]
end

In [357]:
sum^2

2.0091581139329

In [372]:
function pp(a)
    -- what
    local x = a
    for i = 1, 10,1 do
        x = (x + a/x) / 2
    end
    return x
end

In [373]:
pp(6) - pp(2) * pp(3)

0.0

# this is a cunt

fp must be some kind of object

In [358]:
require "io"

fp = io.open("tmp.txt","rb")
ss = fp:read("*all")

# no split function

In [359]:
tt = {}
for i in ss:gmatch("%S+") do
    if string.len(i) > 3 then
       table.insert(tt,string.lower(i))
    end  
end

funny again

In [363]:
s="123456789"
res={}
for num in s:gmatch('.') do
    res[#res+1] = tonumber(num)
end

In [453]:
s="I,am lost"
res={}
for num in s:gmatch('%w') do
    res[#res+1] = num
end
print(res)

table: 0x55d926fd8460

In [364]:
res

{ 1, 2, 3, 4, 5, 6, 7, 8, 9 }

In [300]:
function lines_from(file)
  local lines = {}
  for line in io.lines(file) do 
    lines[#lines + 1] = line
  end
  return lines
end

In [301]:
lines_from("tmp.txt")

{ "", "SECTIONS", "SEARCH", "SKIP TO CONTENTSKIP TO SITE INDEX", "SUBSCRIBE FOR €0.50/WEEK", "", "Account", "SUBSCRIBER-ONLY NEWSLETTER", "", "John McWhorter", "OPINION", "‘Woman’ and ‘Female’ Didn’t Start as Words About Men", "July 1, 2022", "", "Credit...Delcan and Co.", "", "Give this article", "", "", "John McWhorter", "By John McWhorter", "", "Opinion Writer", "", "You're reading the John McWhorter newsletter, for Times subscribers only.  A Columbia University linguist explores how race and language shape our politics and culture. Get it with a Times subscription.", "English words referring to or meaning “woman” have interesting histories. In the current political moment, I thought I might share some of them. Each can help us think about ways we may perceive the humanity around us.", "", "The word “woman” did not begin as a reference to a “wo-” kind of man or male", "person. In Old English, at first, a male was a “wer,” which is why a mythical", "man who can transform into a wolf is called a werewolf. A female was a “wif,”", "and though that word looks and sounds like “wife,” it didn’t refer exclusively", "to a woman’s marital status — holding on in terms such as “midwife” and", "“fishwife.”", "", "Give this article", "", "", "John McWhorter", "A Columbia University linguist explores how race and language shape our politics and culture. Sign up for John McWhorter's newsletter, for Times subscribers only.", "", "Read These Books About the Black Experience: One Old, One New, One Coming Soon", "June 28", "", "Sometimes ‘Proper’ Speech Isn’t Correct Speech", "June 28", "", "Republicans Want to ‘Harden’ Schools. That’s an Awful Euphemism.", "June 14", "More in Opinion", "", "Brooke DiDonato/Agence VU/Re​dux", "Pamela Paul", "The Far Right and Far Left Agree on One Thing: Women Don’t Count", "5h ago", "", "J. Scott Applewhite/Associated Press", "David Brooks", "Why on Earth Is Pelosi Supporting the Trumpists?", "July 1", "Continue reading the main story", "", "Erin Schaff/The New York Times", "Bonnie Kristian", "The End of Roe, the End of Trump", "July 1", "", "Mark Peterson for The New York Times", "Paul Krugman", "Crazies, Cowards and the Trump Coup", "June 30", "", "Jose Luis Magana/Associated Press", "Elizabeth Spiers", "The Persistent Myth That Restricting Abortion Rights Won’t Affect the Rich", "5h ago", "Editors’ Picks", "Solveig Gold at her home in Princeton, N.J.", "Bryan Anselm for The New York Times", "Solveig Gold Is Proud to Be the Wife of a ‘Canceled’ Princeton Professor", "July 1", "", "The Myth of North America, in One Painting", "Jan. 31", "A worker for a mining company in the Yukon made an important discovery while digging in the permafrost: the remarkably well-preserved body of a baby woolly mammoth.", "Treadstone Equipment", "Searching for Gold, Miners Discover a Frozen Baby Mammoth", "2h ago", "Most Popular", "A Clunky Mask May be the Answer to Airborne Disease and N95 Waste", "In Northern Ireland, Old Passions Are Smoldering Anew", "A Mother and Her 3 Children Are Found Dead in a Minnesota Lake", "Father Figure: The Tortured Life of George Michael", "How Delta-8 THC Works — and Why Experts Are Worried About It", "Opinion: Liars, Losers and the Lessons of ‘Antiques Roadshow’", "How Common Is Pancreatitis After a Colonoscopy?", "Seth Meyers Calls Out Fox News Hosts for Falling Speechless", "Workers at Airports Have Had It", "My Sister Did Me Wrong in Secret. Should I Tell Her I Know?", "Subscribe to The Times to read as many articles as you like.", "nytimes.com/subscription", "Site Index", "Site Information Navigation", "© 2022 The New York Times Company", "NYTCoContact UsAccessibilityWork with usAdvertiseT Brand StudioYour Ad ChoicesPrivacy PolicyTerms of ServiceTerms of SaleSite MapHelpSubscriptions", "You’ve reached your limit of free articles.", "This content is reserved exclusively for Times subscribers.", "Special offer:", "", "Get unlimited access for €0.50 a week.", "", "€2.00 €0.50/week", "", "Billed as €8.00 €2.00 every 4 weeks for one year", "", "SUBSCRIBE NOW", "", "You can cancel anytime.", "", "Offer for a Basic Digital Access subscription is not open to current digital news subscribers. Your payment method will automatically be charged in advance the introductory offer rate every 4 weeks for 1 year, and after 1 year the standard rate every 4 weeks. Your subscription will continue until you cancel. Cancellation takes effect at the end of your current billing period. The print edition of The New York Times, Games, Cooking or Wirecutter are not included. Taxes may apply. Offer terms are subject to change.", "", "© 2022 The New York Times Company HelpFeedback" }

In [383]:
a = {}
for i = 1,10,1 do
    a[i] = 10 - 2*i
end

function a.circ(i)
    return a[3 + i % 10 + 1]
end

In [385]:
a

{ 8, 6, 4, 2, 0, -2, -4, -6, -8, -10,circ = <function 1>}

In [389]:
a.circ(3)

-4

In [433]:
function a:cc(i)
    return self[i]
end

In [434]:

do
    local sum=0
    for k= 1, #a,1 do
        sum = sum + a:cc(k)
    end
    -- can't get this out of block ??
    print(sum)
end

-10

In [435]:
{}

n/a: (ilua):1: function arguments expected near '5'

In [448]:
s="I,am lost"
res={}
for num in s:gmatch('%w') do
    res[#res+1] = num
end

In [494]:
str = "0123456789" 
for i=1, #str, 3 do
    print(str:sub(i, i + 2))
end

012
345
678
9

In [468]:
str:sub(1, sz)

"012"

In [492]:
x = 100

function collatz(x)
    local a = {x}
    while x > 1 do
        if  x % 2 == 0 then
            x = math.floor(x / 2)
        else
            x = 3*x + 1
        end
        table.insert(a,x)
    end
    return a
end

In [497]:
collatz(331)

{ 331, 994, 497, 1492, 746, 373, 1120, 560, 280, 140, 70, 35, 106, 53, 160, 80, 40, 20, 10, 5, 16, 8, 4, 2, 1 }